@model DoAnCoSo.Models.CauHoi

<h2>Chi Tiết Câu Hỏi</h2>

<div>
    <h4>@Model.Cauhoi</h4>

</div>

<a asp-action="Index">Back to List</a><a href="c:\users\thanhngandev\documents\zalo received files\doancoso\doancoso\areas\admin\views\cauhoi\display.cshtml">c:\users\thanhngandev\documents\zalo received files\doancoso\doancoso\areas\admin\views\cauhoi\display.cshtml</a>